@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

#pageTitle {
    font-size: 20px;
    font-weight: 700;
    padding-top:10px;
    padding-left:10px;
}

.largeColumn {
    flex: 1;
    padding: 10px;
}

b {
    font-weight: 600;
}

p {
    margin: 5px 0px;
}

textarea, .display {
    width:95%;
    border: 2px solid darkgray;
    background-color: rgb(245, 245, 245);
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
}

.display {
    min-height: 75px;
}

#demo-html {
    max-height:350px;
    padding-right: 10px;
    overflow: auto;
}

textarea {
    resize: vertical;
    min-height:125px;
}

#raw-html {
    min-height: 75px;
    max-height: 75px;
}

.smallColumn {
    flex: 1;
}

#buttonCol {
    text-align: right;
}
